@font-face {
    font-family: 'DXGothic70';
    src: url(../srcs/font/DXGothic70.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic60';
    src: url(../srcs/font/DXGothic60.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic40';
    src: url(../srcs/font/DXGothic40.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic30';
    src: url(../srcs/font/DXGothic30.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic20';
    src: url(../srcs/font/DXGothic20.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic10';
    src: url(../srcs/font/DXGothic10.ttf) format('truetype');
}

@font-face {
    font-family: 'Grandiflora';
    src: url(../srcs/font/Grandiflora.ttf) format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 200%;
    background-color: rgba(160, 255, 40, 1);
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    
    width: 100%;
    height: 110px;
    
    z-index: 999;
    background-color: rgba(160, 255, 40, 1);
}
.maintitle {
    position: absolute;
    text-align: center;
    
    top: 19px;
    
    width: 772px;
    height: 30px;
    
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    
    padding: 30px;
    margin: auto 0;
    border-bottom: 1px solid black;

}

.dscr-container{
    position: absolute;
    display: flex;
    
    width: 100%;
    height: 300%;
    
    z-index: 0;
    
    justify-content: center;
    align-items: center;
    
    /*            border: 5px dashed purple;*/
}

.dsc {
    position: absolute;
    width: 100%;
    max-width: 830px;
    height: 520px;
    top: -470px;
    
    padding-top: 600px;
    padding-bottom: 42px;
    margin-bottom: 50px;
    
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}



.right {
    position: absolute;
    width: 100%;
    height: calc(100% - 10px);
    right: -10px;
    /*        border: 5px dotted green;*/
}

.dscrkr {
    position: relative;
    width: 400px;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 27px;
}

.dscren {
    position: relative;
    width: 400px;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
}

.rotate {
    display: inline-block;
    transform-origin: center center;
    /*    border: 1px dashed purple;*/
}

#kangminje1 {
    display: inline-block;
    transition: background-color 0.3s;
    position: relative;
    /* 부드러운 전환을 위한 트랜지션 효과 */
}

#kangminje1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px; /* 밑줄의 offset 조정 */
    width: 100%;
    height: 1.5px; /* 밑줄 두께 조정 */
    background-color: black; /* 밑줄 색상 */
}

#kangminje2 {
    display: inline-block;
    transition: background-color 0.3s;
    position: relative;
    /* 부드러운 전환을 위한 트랜지션 효과 */
}

#kangminje2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px; /* 밑줄의 offset 조정 */
    width: 100%;
    height: 1.5px; /* 밑줄 두께 조정 */
    background-color: black; /* 밑줄 색상 */
}

.weblink1, .weblink2 {
    display: none;
    position: absolute;
    width: 160px;
    height: 30px;
    background-color: rgba(160, 255, 40, 1);
    border: 1px solid black;
    border-radius: 0px;
    z-index: 999;
}

#kangminje1:hover > .weblink1 {
    display: block;
}

#kangminje2:hover > .weblink2 {
    display: block;
}

.kangminjedotcom1 {
    position: absolute;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    left: 15px;
    top: 1px;
    color: black;
    text-decoration: none;
}

.kangminjedotcom2 {
    position: absolute;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    left: 15px;
    top: 2px;
    color: black;
    text-decoration: none;
}

a {
    color: black;
    margin: 0;
}

.list {
    position: absolute;  
    
    display: flex;
    flex-direction: column;
    align-items: center; /* 리스트 항목 중앙 정렬 */
    justify-content: flex-start;
    
    width: 830px;
    height: 900px;
    
    top: 900px;
    
    border-top: 1px solid black; /* 최상단 구분선 */
    border-bottom: 1px solid black; /* 최하단 구분선 */
    
    padding: 80px 0; /* 상하 여백 추가 */
    margin:0 auto;
    
    background-color: white;
    border: 1px solid black;
    
}

.list a {
/*    margin-left: 20px;*/
    text-decoration: none;
    color: black;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    padding: 10px 0 10px 15px; /* 상하 여백 추가 */
    width: 80%;
    box-sizing: border-box;
    border-top: 1px solid black; /* 각 항목 상단 구분선 */
}
.list a:last-child {
    border-bottom: 1px solid black; /* 마지막 항목 하단 구분선 */
}



a:visited {
    color: black;
}

/*
a:hover { color: yellow; }
a:active { color: red; }*/


/*drag*/

#drawer {
    position: relative;
    width: calc(50% + 70px);
    height: calc(100% + 25px);
    left: calc(50% - 50px);
    top: -15px;
    background-color: rgba(160, 255, 40, 1);
    border-left: 1px solid black;
}

#mydiv_01 {
    position: absolute;

    /*
    left: 50%;
    top: 50%;
*/
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;
    /*    transform: translate3d(-50%, -50%, 0);*/
}

#mydiv_02 {
    position: absolute;

    /*
    left: 50%;
    top: 50%;
*/
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;
    /*    transform: translate3d(-50%, -50%, 0);*/
}

#mydiv_03 {
    position: absolute;

    /*
    left: 50%;
    top: 50%;
*/
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;
    /*    transform: translate3d(-50%, -50%, 0);*/
}

.mydiv:active {
    left: 0;
    top: 0;
}

/*drag*/

.listdivider {
    position: absolute;
    border-top: 1px solid black;
    background-color: rgba(160, 255, 40, 1);
    width: 100%;
    height: calc(100% + 25px);
}

.a {
    position: absolute;
    left: 20%;
    top: 0;
    height: 170px;
    width: 240px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
}

p {}

.text {
    text-align: center;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text {
    text-align: center;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.box {
    position: absolute;
    left: 20%;
    top: 0;
    height: 170px;
    width: 240px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
}

.box:hover {
    cursor: pointer;
    /*    transition: 0.1s;*/
    border: 1px solid black;
}

.box:hover > p {
    text-decoration: underline;
    transition: 0.1s;
}

.dscren, .dscrkr {
    margin: 0 20px;
}

.indent {
    text-indent: 20px;
}

.para-space {
    margin-top: 10px;
}

.date {
    position: absolute;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    z-index: 5;
    top: 620px;
    line-height: 27px;
}

.content-row {
    position: absolute;
    display: flex;
    max-width: 830px;
}

.container {
    position: relative;
    width: 100%;
    background-color: white;
}

#box {
    transition: width 0.3s;
}

.list-3 {
    position: absolute;    
    width: 830px;
    height: 10px;
    
    top: 900px;
    
    background-color: white;
    border: 1px solid black;
}

.list-2 {
    position: absolute;    
    width: 830px;
    height: 40px;
    
    top: 920px;
    
    background-color: white;
    border: 1px solid black;
}

.list-1 {
    position: absolute;    
    width: 830px;
    height: 80px;
    
    top: 970px;
    
    background-color: white;
    border: 1px solid black;
}


