@font-face {
    font-family: 'DXGothic70';
    src: url(../srcs/font/DXGothic70.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic60';
    src: url(../srcs/font/DXGothic60.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic40';
    src: url(../srcs/font/DXGothic40.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic30';
    src: url(../srcs/font/DXGothic30.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic20';
    src: url(../srcs/font/DXGothic20.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic10';
    src: url(../srcs/font/DXGothic10.ttf) format('truetype');
}

@font-face {
    font-family: 'Grandiflora';
    src: url(../srcs/font/Grandiflora.ttf) format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(160, 255, 40, 1);
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}

#wrap {
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center; /* 자식 요소들을 중앙 정렬 */
    width: 100%;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(160, 255, 40, 1);
    transition: 0.3s;
    z-index: 999;
}

.maintitle {
    text-align: center;
    width: 81.4vw;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 50px 30px;
    margin: auto;
    border-bottom: 1px solid black;
}


.dscr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 115px;
}

.dsc {
    width: 85vw;
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; /* 수평 정렬 및 양끝 맞춤 */
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
}

.dsc p {
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 10px 0; /* 상하 간격 조정 */
    flex: 1; /* 각 p 요소가 동일한 너비를 차지하도록 설정 */
    text-align: left; /* 텍스트를 가운데 정렬 */
}

.maintxt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.maintxt1, .maintxt2 {
    width: 60vw;
    padding: 40px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    line-height: 23px;
}

.maintxt1 p, .maintxt2 p {
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 10px 0; /* 상하 간격 조정 */
    text-align: left; /* 텍스트를 가운데 정렬 */
}

.download_button {
    padding: 10px;
    width: 125px;
    right: 40px;
    margin-top: 30px;    
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: black;
}

.download_button a {
    transition: 0.3s;
}

.download_button:hover{
    background-color: black;
}

.download_button:hover a{
    color: white;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.gallery {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열로 제한 */
    gap: 10px; /* 이미지 간 간격 */
    background-color: white; /* 배경색 설정 */
    border: 1px solid black; /* 테두리 설정 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
    padding: 10px; /* 갤러리 내부 여백 */
}

.gallery img, .gallery video {
    width: 100%;
    height: auto; /* 이미지 비율을 유지하면서 높이를 자동으로 조절 */
    object-fit: contain; /* 이미지가 잘리지 않고 컨테이너에 맞춤 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 830px;
    margin-top: 20px;
    padding: 80px 0;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;
}

.list a {
    text-decoration: none;
    color: black;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 15px 10px 15px;
    width: 80%;
    box-sizing: border-box;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;
}

.list a:last-child {
    border-bottom: 1px solid black;
}

.list a:hover {
    background-color: #f0f0f0;
}

.list a::before {
    content: '\2192';
    position: absolute;
    left: -20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.list a:hover::before {
    opacity: 1;
}

.list a .title {
    flex: 1;
}

.list a .description {
    margin-left: 20px;
    white-space: nowrap;
    transition: all 0.3s;
    color: #bbb;
    position: relative;
}

.list a .description::before {
    content: attr(data-hover);
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
    color: black;
    text-align: right; /* 우측 정렬 */
}

.list a:hover .description {
    color: transparent;
}

.list a:hover .description::before {
    opacity: 1;
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px;
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 300;
    font-size: 11px;
    background-color: rgba(160, 255, 40, 1);
}

.dsc-img {
    flex: 1;
    align-self: flex-start; /* 이미지가 상단에 정렬되도록 설정 */
    max-width: 400px; /* 이미지 최대 너비 설정 */
    height: auto;
    margin: 10px 0;
    margin: 10px 10px 10px 100px;
    border: 1px solid black;
}

.dsc-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-direction: row;
    flex: 3;
    line-height: 22px;
    padding-left: 10px;
}

#box {
    transition: width 0.3s;
}

.maintxt2 ul {
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-align: left; /* 텍스트를 가운데 정렬 */
    margin: 30px 0 30px 20px;
}

ul li {
    background-color: rgba(255,255,0,0.5);
}
