@font-face {
    font-family: 'DXGothic70';
    src: url(../srcs/font/DXGothic70.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic60';
    src: url(../srcs/font/DXGothic60.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic40';
    src: url(../srcs/font/DXGothic40.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic30';
    src: url(../srcs/font/DXGothic30.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic20';
    src: url(../srcs/font/DXGothic20.ttf) format('truetype');
}

@font-face {
    font-family: 'DXGothic10';
    src: url(../srcs/font/DXGothic10.ttf) format('truetype');
}

@font-face {
    font-family: 'Grandiflora';
    src: url(../srcs/font/Grandiflora.ttf) format('truetype');
}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: white;
    border-bottom: 2px solid black;
}

.maintitle {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
    font-family: 'DXGothic60', sans-serif;
    font-size: 30px;
    /*    border: 1px solid black;*/

}

.contents {
    position: absolute;
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 75px);
    left: 10px;
    top: 65px;
/*            border: 5px dashed purple;*/
}

.left {
    position: absolute;
    width: calc(50% - 90px);
    height: 100%;
/*    border: 5px dotted blue;*/
}



.right {
    position: absolute;
    width: calc(50% + 60px);
    height: calc(100% - 10px);
    right: -10px;
    /*        border: 5px dotted green;*/
}

.dscrkr {
    position: relative;
    width: 100%;
    font-family: 'DXGothic60', sans-serif;
    font-size: 30px;
    line-height: 1.2;
}

.dscren {
    position: relative;
    top: 40px;
    font-family: 'DXGothic60', sans-serif;
    font-size: 30px;
    line-height: 1.2;
}

.rotate {
    display: inline-block;
    letter-spacing: 0px;
    transform-origin: center center;
    /*    border: 2px dashed purple;*/
}

.rotate:hover {
    transform: rotate(8deg);
    letter-spacing: -2px;
}

#kangminje1 {
    display: inline-block;
    transition: background-color 0.3s;
    /* 부드러운 전환을 위한 트랜지션 효과 */
}

#kangminje2 {
    display: inline-block;
    transition: background-color 0.3s;
    /* 부드러운 전환을 위한 트랜지션 효과 */
}


.weblink1 {
    display: none;
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: rgba(160, 255, 40, 1);
    border: 2px solid black;
    border-radius: 0px;
    z-index: 999;
}

.weblink2 {
    display: none;
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: rgba(160, 255, 40, 1);
    border: 2px solid black;
    border-radius: 0px;
    z-index: 999;
}

#kangminje1:hover > .weblink1 {
    display: block;
}

#kangminje2:hover > .weblink2 {
    display: block;
}

.kangminjedotcom {
    position: absolute;
    font-family: 'DXGothic40', sans-serif;
    font-size: 20px;
    left: 15px;
    top: 2px;
    color: black;
    text-decoration: none;
}

a {
    color: black;
}

a:visited {
    color: black;
}

/*
a:hover { color: yellow; }
a:active { color: red; }*/


/*drag*/

#drawer {
    position: relative;
    width: calc(50% + 70px);
    height: calc(100% + 25px);
    left: calc(50% - 50px);
    top: -15px;
    background-color: rgba(160, 255, 40, 1);
    border-left: 2px solid black;
}

#mydiv_01 {
    position: absolute;

    /*
    left: 50%;
    top: 50%;
*/
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 100px;
    /*    transform: translate3d(-50%, -50%, 0);*/
}

#mydiv_02 {
    position: absolute;

    /*
    left: 50%;
    top: 50%;
*/
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 100px;
    /*    transform: translate3d(-50%, -50%, 0);*/
}

#mydiv_03 {
    position: absolute;

    /*
    left: 50%;
    top: 50%;
*/
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 100px;
    /*    transform: translate3d(-50%, -50%, 0);*/
}

.mydiv:active {
    left: 0;
    top: 0;
}

/*drag*/

.centerdivider {
    position: absolute;
    /*    border: 5px dotted red;*/
    border-left: 2px solid black;
    border-top: 2px solid black;
    background-color: rgba(160, 255, 40, 1);
    width: calc(50% + 90px);
    height: calc(100% + 25px);
    right: -20px;
    top: -15px;
}

.a {
    position: absolute;
    left: 20%;
    top: 0;
    height: 170px;
    width: 240px;
    border-radius: 2px;
    background-color: white;
    border: 2px solid black;
}

p {

}

.text {
        text-align: center;
        font-family: 'DXGothic40';
        line-height: 15px;
        position: absolute;
        width: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

.text{
    text-align: center;
        font-family: 'DXGothic40';
        line-height: 15px;
        position: absolute;
        width: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}


.box {
    position: absolute;
    left: 20%;
    top: 0;
    height: 170px;
    width: 240px;
    border-radius: 2px;
    background-color: white;
    border: 2px solid black;
}

.box:hover{
    cursor: pointer;
/*    transition: 0.1s;*/
    border: 2px solid black;
}

.box:hover > p{
    text-decoration: underline;
    transition: 0.1s;
}